{% extends 'base.html' %}

{% block title %}Password reset - TimeBlog{% endblock %}

{% block style %}
    input{
    border:1px solid green;
    padding:1%;
    padding-left:12px;
    font-size:17px
    }
    .errorlist{
    color:red;
    }

    #id_email{
    padding: 12px;
    margin-bottom: 22px;
    font-size: 20px;
    border: 1px solid lightgrey;
    background-color:white;
    margin-top: 1%;
    }

{% endblock %}
{% block body %}

    <h5 class="vLargeTextField">Enter email to reset your password
    </h5>
    <hr>
    <div class="mt-3"></div>

    <form action="#" method="post">
        {% csrf_token %}
        <ul class="list-group list-group-flush">
            {{ form.as_table }}
            <input type="submit" value="Send confirmation mail" class="btn btn-primary mt-1">
        </ul>
    </form>
    <p class="mt-3">Have a password, <a href="{% url 'login' %}">login here</a>.</p>
    <br>
    <br>
    <br>
    <br>
{% endblock %}