{% extends 'base.html' %}

{% block title %}Login - TimeBlog{% endblock %}

{% block style %}
    input{
    border:1px solid green;
    padding:1%;
    padding-left:12px;
    font-size:17px
    }
    .helptext{
        margin-top:-20px;
        padding-bottom:30px;
    }
    .errorlist{
    color:red;
    }

{% endblock %}
{% block body %}

    <h5 class="vLargeTextField">Signup to TimeBlog
    </h5>
    <hr>
    <div class="mt-3"></div>

    <form method="post" action="#">
        {% csrf_token %}
        <ul class="list-group list-group-flush">

            {{ form.as_table }}

            <input type="submit" value="Signup" class="btn btn-primary mt-1">
            <a href="{% url 'login' %}">Have an account?</a>
        </ul>
    </form>

    <br>
    <br>
    <br>
    <br>
{% endblock %}