{% extends 'base.html' %}

{% block title %}Password reset - TimeBlog{% endblock %}

{% block style %}
    input{
    border:1px solid green;
    padding:1%;
    padding-left:12px;
    font-size:17px
    }
    .errorlist{
    color:red;
    }

{% endblock %}
{% block body %}

    <h5 class="vLargeTextField">Password reset link sent to GoEvents registered email
    </h5>
    <hr>
    <div class="mt-3"></div>

    <form method="post" action="#">
        {% csrf_token %}
        <ul class="list-group list-group-flush">
            We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check
            your
            spam folder.
        </ul>
    </form>
    <p class="mt-3">Have successfully reset your password? <a href="{% url 'login' %}">Login here</a>.</p>
    <br>
    <br>
    <br>
    <br>
{% endblock %}