{% extends 'base.html' %}

{% block title %}Password reset - TimeBlog{% endblock %}

{% block style %}
    input{
    border:1px solid green;
    padding:1%;
    padding-left:12px;
    margin-top:10px;
    margin-bottom:10px;
    font-size:17px
    }

    #id_password1, #id_password2{
    padding: 12px;
    margin-bottom: 22px;
    font-size: 20px;
    border: 1px solid lightgrey;
    background-color:white;
    margin-top: 1%;
    }

    .errorlist{
    color:red;
    }


{% endblock %}
{% block body %}

    <h5 class="vLargeTextField">Enter a new password to GoEvents account
    </h5>
    <hr>
    <div class="mt-3"></div>

    <form action="#" method="post">
        {% csrf_token %}
        <ul class="list-group list-group-flush">
            {{ form.as_table }}
            <input type="submit" value="Save" class="btn btn-primary mt-1">
        </ul>
    </form>
    <br>
    <br>
    <br>
    <br>
{% endblock %}