{% extends 'base.html' %}

{% block style %}
    .centered {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width:100%;
    color: white;
    heighdt:90px;
    }

{% endblock %}

{% block title %}All musics{% endblock %}

{% block body %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Music</li>
            <li class="breadcrumb-item active" aria-current="page">All</li>
        </ol>
    </nav>
    <div class="row text-center mt-3">
        {% if musics %}
            <div class="row text-center mt-3">

                <h1 style="color: orangered">Browse Music</h1>
                {% for music in musics %}
                    <div class="col-sm-4 p-1 pt-4">
                        <div class="card">
                        {{ music.album_set.all.0 }}
                            {% if music.album_set.all %}
                                <img class="border card-img-tp" src="{{ music.album_set.all.0.image.url }}"
                                     style="width: 100%; height: 300px; object-fit: cover">
                            {% else %}

                                <img class="border card-img-tp"
                                     src="https://cdn.pixabay.com/photo/2021/01/15/17/01/green-5919790__480.jpg"
                                     style="width: 100%; height: 300px; object-fit: cover">
                            {% endif %}

                            <div class="card-body centered">
                                <a href="{% url 'music' music.slug  %}" style="color: orangered" class=" card-title">{{ music.title }}</a>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h4>No musics added.</h4>
        {% endif %}
    </div>
{% endblock %}