{% extends 'base.html' %}

{% block title %}Login - TimeBlog{% endblock %}

{% block style %}
    input{
    border:1px solid green;
    padding:1%;
    padding-left:12px;
    font-size:17px
    }
    .errorlist{
    color:red;
    }

    #id_username, #id_password{
    padding: 12px;
    margin-bottom: 22px;
    font-size: 20px;
    border: 1px solid lightgrey;
    background-color:white;
    margin-top: 1%;
    }

{% endblock %}
{% block body %}

    <h2 class="text-center vLargeTextField">Add a new Genre type in MusicPey</h2>
    <hr>
    <div class="mt-4"></div>
    <label for="inputEmail4" style="color: red" class="form-label">{{ form.errors.title }}</label>

    <form method="post" action="#" class="row g-3">
        {% csrf_token %}
        <div class="col-md-4">
            <label for="inputEmail4" class="form-label">Genre</label>
            <input type="text" class="form-control" name="{{ form.title.name }}" id="inputEmail4">
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
        </div>

    </form>
    <br>
    <br>
    <br>
    <br>
{% endblock %}